.App{
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
  background: lightblue;
  color: white
}
.nav-links{
  width:50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

